#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
makedir := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))
srcdir  := $(makedir)/..

package := $(shell dh_listpackages)

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Cross compile flags
CROSS_COMPILE ?=
ARCH          ?= $(CCARCH)
MAKE 		  ?= make ARCH=$(ARCH) CROSS_COMPILE=$(CROSS_COMPILE)
IMAGE         ?= $(KIMAGE_TYPE)

ifneq ($(UIMAGE_LOADADDR),)
	IMAGE_LOADADDR = LOADADDR=$(UIMAGE_LOADADDR)
else
	IMAGE_LOADADDR = ""
endif

dtbs          ?= $(DTBS)
dtbos         ?= $(DTBOS)
dtb_dest      ?= $(DTB_INSTALL_DIR)
dtbo_dest     ?= $(DTBO_INSTALL_DIR)

dtb_install_dir  := debian/$(package)/$(dtb_dest)
dtbo_install_dir := debian/$(package)/$(dtbo_dest)


dtbs_dir  := $(shell find arch/$(ARCH)/boot/dts/ -name "*.dtb")
dtbos_dir := $(shell find arch/$(ARCH)/boot/dts/overlays -name "*.dtbo")


# Required targets for dpkg-buildpackage
build:
	@echo "Running build target."
	$(MAKE) olddefconfig
	$(MAKE) -j6 $(IMAGE) $(IMAGE_LOADADDR)
	$(MAKE) $(dtbos)
	$(MAKE) $(dtbs)

clean:
	@echo "Running clean target."
	#$(MAKE) mrproper
	rm -rf debian/$(package)/*

build-arch:
	@echo "Running build-arch target."

build-indep:
	@echo "Running build-indep target."

install: build
	@echo "Running install target."
	dh_testdir
	dh_testroot
	dh_clean  -k

	mkdir -p debian/$(package)
	mkdir -p $(dtb_install_dir)
	mkdir -p $(dtbo_install_dir)

	install -m 0644 arch/$(ARCH)/boot/$(IMAGE) debian/$(package)/boot/$(IMAGE)
	install -m 0644 $(dtbs_dir) $(dtb_install_dir)
	install -m 0644 $(dtbos_dir) $(dtbo_install_dir)

binary-arch: build install
	@echo "Running binary-arch target."
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary-indep: build install
	@echo "Running binary-indep target."

binary: binary-arch binary-indep
	@echo "Running binary target."

.PHONY: build clean binary-indep binary-arch binary install


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

